@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    display: flex;
    flex-direction: column;
    width: 25%;
    min-height: auto;
    overflow: hidden;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #f6f5f700;
    position: relative;
}

.image-container .logo {
    display: none; 
}

.image-container .background-image {
    width: 300px;
    margin-top: 0;
    margin-bottom: -353px;
    margin-left: 162px;
    object-fit: cover;
    opacity: 0.2;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    z-index: 1;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

h1 {
    font-weight: bold;
    margin-bottom: 15px;
    z-index: 1;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
    z-index: 1;
}

button {
    border-radius: 20px;
    border: 1px solid rgb(118, 159, 205);
    background-color: rgb(118, 159, 205);
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.7s ease;
    margin: 10px 0;
    cursor: pointer;
    z-index: 1;
}

button:hover {
    background-color: rgb(185, 215, 234);
    transform: scale(1.1);
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

#signinLink {
    text-decoration: none;
    color: rgb(118, 159, 205);
}

#signupLink {
    text-decoration: none;
    color: rgb(118, 159, 205);
}
